.textarea__container {
    display: flex;
    flex-direction: column;

    small {
        font-size: 0.875rem;
    }

    textarea {
        width: 20rem;
        height: 8.5rem;

        background-color: var(--white-100);

        border-radius: var(--radius-md) var(--radius-md) 0 0;
        border: 0;
        border-bottom: 2px solid var(--green-500);

        padding: .5rem;

        font-size: .75rem;
        font-weight: 400;
        color: var(--white-900);

        resize: vertical;

        &.disabled {
            cursor: not-allowed;
            filter: brightness(.75);
        }

        &::placeholder {
            font-family: 'Poppins', sans-serif;
            font-size: .75rem;
            color: var(--white-400);
        }
    }
}