.table__container {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 1rem;
    flex-direction: column;


    .table__content {
        width: 100%;
        height: 30rem;
    }
}

.rgt-wrapper,
.rgt-header-container {
    background-color: var(--blue-700) !important;
    border-radius: var(--radius-md) var(--radius-md) 0 0 !important;
    border: none !important;
}
.rgt-search-input {
    background-color: var(--white-900) !important;
    border-radius: var(--radius-md) !important;
}

.rgt-search-label, .rgt-search-icon {
    color: var(--white-900) !important;
}

.rgt-columns-manager-button:hover {
    background-color: var(--blue-700) !important;
}

.rgt-columns-manager-popover {
    background-color: var(--blue-700) !important;
    color: var(--white-900) !important;
}

.rgt-wrapper,
.rgt-cell-header,
.rgt-cell-header-inner,
.rgt-cell-inner,
.rgt-cell,
.rgt-footer,
.rgt-footer-right-container,
.rgt-footer-pagination,
.rgt-footer-pagination-button,
.rgt-footer-pagination-input-container,
.rgt-footer-page-input,
.rgt-footer-page-size,
.rgt-text-truncate {
    background-color: var(--blue-700) !important;
    color: var(--white-900) !important;
    border: none !important;
}

.rgt-wrapper, .rgt-cell, .rgt-cell-header {
    border: 1px solid var(--white-100) !important;
}

.actions__container {
    width: 100%;

    padding-left: 20px;
    color: var(--orange-700);
    text-decoration: underline;

    cursor: pointer;

    transition: opacity .2s;

    &:hover {
        opacity: .8;
    }
}
